@font-face{
	font-family: "Lithos Pro";
	src:url("fonts/LithosPro-Regular.otf");
}
@font-face{
	font-family: "CURLZ";
	src:url("fonts/CURLZ__.TTF");
}
@font-face{
	font-family: "trebuc";
	src:url("fonts/trebuc.ttf");
}
body{
	margin-top: 0px;
	margin: 0px;
}
.firstMenu{
	background-color: #66CCCC;
	margin-top: 0px;
	height: 20px;
    padding-top: 8px;
}
.cys {
	margin-right:50px;
}
.firstMenu ul{
	margin-top: 0px;
	text-align: right;
	font-family: "Lithos Pro";
	font-size: 10px;	
	margin-right: 95px;
}
.firstMenu ul *{
	font-family: "Lithos Pro";
}
.firstMenu li{
	display: inline;
	margin-top: 0px;
}
.firstMenu a{
	color: white;
	text-decoration: none;
}
.header{
	height: 82px;
	max-height: 82px;
	background-image: url("images/fondoHeader.png");
	font-size: 60px;
}
.header{
	font-family: "CURLZ";
}
.header a {
	margin-left: 36px;
	color: black;
}
.secondMenu ul{
	text-align: right;
	font-family: "trebuc";
	margin-left: 75px;
	margin-top: 5px;
}
.secondMenu li{
	display: inline;
}
.secondMenu a{
	color: black;
	text-decoration:none;
	padding-right: 52px;
}
.col-md-12{
	height: 255px;
}
.containerHomeImg img{
	position: center;
}
.welcomeImg {
	margin-left: 12.5%;
}
.welcomeLogo {
	margin-left: -2%;
}
.firstColumn{
    margin-top: 18px;
}
.containerSlider{
	margin-top: 18px;
}
.g2{
	margin-top: 18px;
}
.containerSlider{
	height: 527px;
	overflow: hidden;
}
.pagesContainer{
    width: 500%;
    position: relative;
    overflow: hidden;
}
.sliderSheet{
	float: left;
	height: 527px;
	width: 20%;
	}
.imgSlider{
	max-height: 100%;
	max-width: 100%;
}
.thirdColumn{
	margin-top: 18px;
}
.g5{
	margin-top: 18px;
}
.categoryContainer{
	height: 255px;
	background-color: rgba(102, 204, 204, 0.5);
}
.imgSetup{
	height: 100%;
}
.boxPar{
	height: 255px;
	background-color: rgba(102, 204, 204, 0.5);
	float: left;
}
.storeMenu{
	text-align: left;
	font-family: "trebuc";
}
.storeMenu li{
	border: black solid 3px;
}
.storeMenu li a {
	display: block;
	text-align: left;
}